{% extends 'login-base.html.twig' %}

{% block title %}Log in!{% endblock %}
{% block stylesheets %}

{% endblock %}
{% block body %}
    <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first login-logo">
                <img src="{{ asset("img/logo.png") }}" id="icon" alt="User Icon"/>
                <h1 class="login-title">Sorties entr'ENI</h1>
            </div>

            <!-- Login Form -->
            <form method="post">
                <input autofocus type="text" value="{{ last_username }}" id="inputEmail"
                       class="fadeIn second login-input-field lif1" name="email" placeholder="Email or login" required>
                <input type="password" id="inputPassword" class="fadeIn third login-input-field" name="password"
                       placeholder="******" required>
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
                <div class="checkbox mb-3 fadeIn fourth">

                    <label class="login-check-lbl">
                        <input type="checkbox" value="remember-me {{ (app.user ) ? 'checked' : '' }}"> se souvenir de
                        moi

                    </label>
                </div>
                <input type="submit" class="fadeIn five" id="login" value="LOGIN">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
                <a class="underlineHover" href="#">Mot de passe oublié ?</a>
            </div>

        </div>
    </div>
    <footer class="login-footer">
        <img src="{{ asset('img/clouds-footer.png') }}">
    </footer>

{% endblock %}

