{% extends 'pages-base.html.twig' %}

{% block title %}Détail sortie{% endblock %}

{% block body %}

    <div class="dtl-sortie-container">

        <h1 class="page-h1">Détail sortie</h1>

        <div class="dtl-sortie-flex">
            <!-- left bloc fields -->
            <div class="dtl-sortie-left">
                <div class="dtl-srt-bloc">
                    <label>Nom de la sortie</label>
                    <div><span>{{ sortie.nom | capitalize }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Date et heure de la sortie</label>
                    <div><span>{{ sortie.dateDebut | date("d/m/y H:i:s") }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Date limite d'inscription</label>
                    <div><span>{{ sortie.dateCloture | date("d/m/Y") }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Nombre de places</label>
                    <div><span>{{ sortie.nbInscriptionMax }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Durée (minutes)</label>
                    <div><span>{{ sortie.duree }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Description et infos</label>
                    <div class="dtl-descp"><span>{{ sortie.descriptionInfos }}</span></div>
                </div>
            </div>

            <!-- right bloc fields -->
            <div  class="dtl-sortie-right">
                <div class="dtl-srt-bloc">
                    <label>Lieu</label>
                    <div><span>{{ sortie.noLieu.nomLieu | capitalize }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Ville</label>
                    <div><span>{{ sortie.noLieu.noVille.nomVille | capitalize }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Rue</label>
                    <div><span>{{ sortie.nolieu.rue | capitalize }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Code Postal</label>
                    <div><span>{{ sortie.noLieu.noVille.codePostal }}</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Latitude</label>
                    <div><span>{{ sortie.noLieu.latitude }}°</span></div>
                </div>
                <div class="dtl-srt-bloc">
                    <label>Longitude</label>
                    <div><span>{{ sortie.noLieu.longitude }}°</span></div>
                </div>

                <!-- tableau d'inscrits -->
                <div class="tbl-inscrits tbl-iscrt-big">
                    <p>Liste des participants inscrits</p>

                    <div class="tbl-header">
                        <table class="dtl-table">
                            <thead>
                            <tr>
                                <th>Pseudo</th>
                                <th>Nom</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                    <div class="tbl-content">
                        <table class="dtl-table">
                            <tbody>
                            {% for inscription in sortie.noInscriptions %}
                                <tr class="dtl-strip">
                                    <td><a href="{{ path('utilisateur_afficherProfil',{'id':inscription.noUser.id}) }}">{{ inscription.noUser.pseudo }}</a></td>
                                    <td>{{ inscription.noUser.nom | capitalize }} {{ inscription.noUser.prenom | upper }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

            <!-- tableau d'inscrits small -->
            <div class="tbl-inscrits tbl-iscrt-small">
                <p>Liste des participants inscrits</p>

                <div class="tbl-header">
                    <table class="dtl-table">
                        <thead>
                        <tr>
                            <th>Pseudo</th>
                            <th class="tbl-small-gone">Nom</th>
                        </tr>
                        </thead>
                    </table>
                </div>
                <div class="tbl-content">
                    <table class="dtl-table">
                        <tbody>
                        {% for inscription in sortie.noInscriptions %}
                            <tr class="dtl-strip">
                                <td><a href="{{ path('utilisateur_afficherProfil',{'id':inscription.noUser.id}) }}">{{ inscription.noUser.pseudo }}</a></td>
                                <td class="tbl-small-gone">{{ inscription.noUser.nom | capitalize }} {{ inscription.noUser.prenom | upper }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
{% endblock %}