{% extends "pages-base.html.twig" %}

{% block title %}Modifier une sortie{% endblock %}

{% block body %}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="msg-alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {{ form_start(form) }}

    {{ form_widget(form) }}

    <button type="button" onclick="$test()">Ajout</button>

    <button style="background: purple"><a href="{{ path('ajoutLieuVille') }}">Ajouter Lieu (à mieux réaliser par la
            suite</a></button>

    {% if sortie %}
        <div>
            <label> Ville : </label>
            <p id="ville">{{ sortie.noLieu.noVille.nomVille }}</p>
        </div>
        <div>
            <label> Rue : </label>
            <p id="rue">{{ sortie.noLieu.rue }}</p>
        </div>
        <div>
            <label> Code postal : </label>
            <p id="cp">{{ sortie.noLieu.noVille.codePostal }}</p>
        </div>
        <div>
            <label> Latitude : </label>
            <p id="lat">{{ sortie.noLieu.latitude }}</p>
        </div>
        <div>
            <label> Longitude : </label>
            <p id="long">{{ sortie.noLieu.longitude }}</p>
        </div>
    {% else %}
        <div>
            <label> Ville : </label>
            <p id="ville"></p>
        </div>
        <div>
            <label> Rue : </label>
            <p id="rue"></p>
        </div>
        <div>
            <label> Code postal : </label>
            <p id="cp"></p>
        </div>
        <div>
            <label> Latitude : </label>
            <p id="lat"></p>
        </div>
        <div>
            <label> Longitude : </label>
            <p id="long"></p>
        </div>
    {% endif %}

    <button type="submit" name="sortie" value="1">Enregistrer</button>
    <button type="submit" name="sortie" value="3">Publier la sortie
    {% if (modification == 1) %}
        <button><a href="{{ path('annuler_sortie',{'id':sortie.id}) }}">Supprimer</a></button>
    {% endif %}

    <button type="reset">Annuler</button>

    {{ form_end(form) }}

{% endblock %}