{% extends 'pages-base.html.twig' %}

{% block title %}Profil utilisateur{% endblock %}

{% block body %}

    {% if profil %}

        <div class="profil-container">
            <!-- avatar user-->
            <div class="avtr-profil">
                <img src="{{ asset(profil.urlPhoto) }}">
            </div>

            <!-- informations -->
            <h1 class="profil-h1">{{ profil.pseudo }}</h1>
            <p class="info-profil">{{ profil.prenom }}</p>
            <p class="info-profil">{{ profil.nom }}</p>
            <p class="info-profil">{{ profil.telephone }}</p>
            <p class="info-profil">{{ profil.email }}</p>
            <p class="info-profil">{{ profil.noSite.nomSite}}</p>

            <!-- back button -->
            <a href="{{ path('home') }}"><button class="btn-base btn-red btn-profil">Retour</button></a>

        </div>

    {% endif %}

{% endblock %}