{% extends 'pages-base.html.twig' %}

{% block body %}

    {% if profil %}

        <h1>{{ profil.pseudo }}</h1>
        <p>Prénom: {{ profil.prenom }}</p>
        <p>Nom: {{ profil.nom }}</p>
        <p>Téléphone: {{ profil.telephone }}</p>
        <p>Email: {{ profil.email }}</p>
        <p>Site de Rattachement: {{ profil.noSite.nomSite}}</p>
        <a href="{{ path('home') }}"><button>Retour</button></a>

    {% endif %}

{% endblock %}