{% extends 'base.html.twig' %}

{% block title %}Hello AfficherProfilController!{% endblock %}

{% block body %}

    {% if profils %}

        <h1>{{ profils.pseudo }}</h1>
        <p>Prénom: {{ profils.prenom }}</p>
        <p>Nom: {{ profils.nom }}</p>
        <p>Téléphone: {{ profils.telephone }}</p>
        <p>Email: {{ profils.email }}</p>
        <p>Site de Rattachement: {{ profils.noSite.nomSite}}</p>
        <a href="{{ path('profilIndex') }}"><button>Retour</button></a>

    {% endif %}

{% endblock %}
