<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}sortir.com{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    <link rel="stylesheet" href="{{ asset("css/main.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" href="/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap4-glyphicons/maps/glyphicons-fontawesome.min.css">
</head>

<body>

    <section class="full-page">
        <nav class="nav-header">
            <div class="logo-header">
                <a href="{{ path('home') }}">
                    <img class="logo-img" src="{{ asset("img/logo.png") }}">
                    <h1 class="site-title">SORTIES ENTR'ENI</h1>
                </a>
            </div>
            Bonjour, {{ app.user.pseudo }}.
            <ul class="nav-menu">
                {#                <li><a href="#">Villes</a></li>#}
                {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('registration') }}">Inscription</a></li>
                {% endif %}
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{path('utilisateur_gestionProfil', {"id": app.user.id})}}">Mon profil</a></li>
                <li> <a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </nav>
    </section>

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block body %}{% endblock %}

<footer>
</footer>

    {% block javascripts %}
        <script type="text/javascript" charset="utf8" src="/js/jquery-3.4.1.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script type="text/javascript" charset="utf8" src="/js/datatables.js"></script>
        <script type="text/javascript" charset="utf8" src="/js/home.js"></script>
        <script type="text/javascript" charset="utf8" src="{{ asset('js/CreerVilleLieu.js') }}"></script>
    {% endblock %}



</body>
