<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}sortir.com{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset("css/page.css") }}">
    <link rel="stylesheet" href="{{ asset("css/profil.css") }}">
    <link rel="stylesheet" href="{{ asset("css/register.css") }}">
    <link rel="stylesheet" href="{{ asset("css/sortie.css") }}">
    <link rel="stylesheet" href="{{ asset("css/lieuville.css") }}">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ asset("img/favicon2.png") }}"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>

<body>
    <section class="page-section">

        <!-- MENU NAVIGATION -->
        <nav class="nav-header">
            <div class="logo-header">
                <a href="{{ path('home') }}">
                    <img class="logo-img" src="{{ asset("img/logo.png") }}">
                    <h1 class="site-title">SORTIES ENTR'ENI</h1>
                </a>
            </div>
            <ul class="nav-menu">
                <li><a href="{{ path('home') }}">Accueil</a></li>
                <li><a href="{{path('utilisateur_gestionProfil', {"id": app.user.id})}}">Profil</a></li>

                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('registration') }}">Inscription</a></li>
                    <li><a href="{{ path('gererLieu') }}">Lieux</a></li>
                    <li><a href="{{ path('gererSite') }}">Sites</a></li>
                {% endif %}

                <li> <a href="{{ path('app_logout') }}">Déconnexion</a></li>
            </ul>
        </nav>

        <!-- BURGER MENU -->
        <div class="burger-menu">
            <span class="logo-burger-menu">
                <a href="{{ path('home') }}">
                    <div class="burger-logo">
                        <img class="burger-img" src="{{ asset("img/logo.png") }}">
                    </div>
                    <h1 class="burger-title">SORTIES ENTR'ENI</h1>
                </a>
            </span>
            <input class="burger" type="checkbox">
            <nav class="nav-burger">
                <a class="nav-li-1" href="{{ path('home') }}">Accueil</a>
                <a href="{{path('utilisateur_gestionProfil', {"id": app.user.id})}}">Profil</a>

                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('registration') }}">Inscription</a>
                    <a href="{{ path('gererLieu') }}">Lieux</a>
                    <a href="{{ path('gererSite') }}">Sites</a>
                {% endif %}

                <a href="{{ path('app_logout') }}">Déconnexion</a>
            </nav>
        </div>

        <!-- CONTENU DE LA PAGE -->
        <div class="page-content">
            {% block body %}{% endblock %}
        </div>

    </section>

    <!-- FOOTER -->
    <footer class="page-footer">
        <div class="pg-footer-wrap">
            <!-- copyright footer -->
            <div class="copyright">
                <p>Sorties entr’Eni © 2020</p>
            </div>

            <!-- bloc social networks -->
            <div class="rs-icon">
                <div class="facebook rs-logo">
                    <a href="{{ path('troll') }}"><img src="{{ asset('img/facebook.png') }}" alt="facebook logo"></a>
                </div>

                <div class="instagram rs-logo">
                    <a href="#"><img src="{{ asset('img/instagram.png') }}" alt="instagram logo"></a>
                </div>

                <div class="twitter rs-logo">
                    <a href="#"><img src="{{ asset('img/twitter.png') }}" alt="twitter logo"></a>
                </div>
            </div>
        </div>

        <!-- clear copyright tablette -->
        <div class="clear clear-footer"></div>
        <div class="copyright-2">
            <p>Sorties entr’Eni © 2020</p>
        </div>
    </footer>


    <!-- JAVASCRIPT -->
    <script type="text/javascript" charset="utf8" src="/js/jquery-3.4.1.min.js"></script>

    <script type="text/javascript" charset="utf8" src="{{ asset('js/CreerVilleLieu.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('js/sortie.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('js/popup.js') }}"></script>
    <script type="text/javascript" charset="utf8" src="{{ asset('js/gererSite.js') }}"></script>

    {% block javascripts %}{% endblock %}

</body>
</html>